.zerodhaLogo {
  width: 150px;
  height: 20px;
}
.navbar-item {
  list-style: none;
  display: flex;
  gap: 3em;
}

.navbar-item a {
  text-decoration: none;
}

.navbar {
  padding: 20px 80px 10px 80px;
  border: 1px solid rgb(234, 218, 218);
  display: flex;
}
